extends base/_layout
block vars
    - var pageName = 'index'
block head
    title Лите - Главная страница
block page

    .scr_quiz
        .container

            h1.scr_quiz__title Лазерная #[br.mobile_only]эпиляция 3-х зон 

            .scr_quiz__info 
                p.scr_quiz__current 1190₽
                time.scr_quiz__time(datetime="2024-05-15") до 15.05.24             
                p.scr_quiz__old 4100₽
                p.scr_quiz__cta Ответьте на #[span 3 вопроса] #[br.mobile_only]и получите максимальную скидку

        .scr_quiz__wrapper
            .scr_quiz__get_btn(aria-label="Получить скидку")
                span Хочу
                span Получить скидку

            .scr_quiz__img
                - var imgSrcset = "./images/scr_quiz/scr_quiz_bg_640.webp 640w, ./images/scr_quiz/scr_quiz_bg_1000.webp 1000w, ./images/scr_quiz/scr_quiz_bg_1600.webp 1600w, ./images/scr_quiz/scr_quiz_bg_2000.webp 2000w, ./images/scr_quiz/scr_quiz_bg_3840.webp 3840w"
                
                +imgWithCustomClass('', '100vw', imgSrcset, imgSrc, 'Лазерная эпиляция', '1920', '525', false)

                .scr_quiz__curve

        .scr_quiz__forewarning
            .container
                p Сайт носит исключительно информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями Статьи 437 (2) Гражданского кодекса Российской Федерации. Для получения подробной информации оставьте заявку или позвоните по телефону #[a(href="tel:+79288849090") +7 (928) 884-90-90]

        form(action="#").scr_quiz__interview

            //- step 1

            .scr_quiz__step.active(data-step="1")

                .scr_quiz__counter #[span 1]/4

                h2.scr_quiz__question Вы делали ранее#[br]лазерную эпиляцию?

                p.scr_quiz__hint Выберите один вариант ответа

                fieldset.scr_quiz__fieldset 

                    label.scr_quiz__label.scr_quiz__label_radio
                        input(type="radio" name="question_1" value="yes" checked)
                        span.scr_quiz__fake Да

                    label.scr_quiz__label.scr_quiz__label_radio
                        input(type="radio" name="question_1" value="no")
                        span.scr_quiz__fake Нет

                button.scr_quiz__return.quiz-close(type="button" aria-label="Вернуться на шаг назад") Назад

            //- step 2

            .scr_quiz__step(data-step="2")

                .scr_quiz__counter #[span 2]/4

                h2.scr_quiz__question Какие проблемы Вас привели к лазерной эпиляции?

                p.scr_quiz__hint Выберите один вариант ответа

                fieldset.scr_quiz__fieldset 

                    label.scr_quiz__label.scr_quiz__label_radio
                        input(type="radio" name="question_2" value="first_reason" checked)
                        span.scr_quiz__fake Вросшие#[br]волосы

                    label.scr_quiz__label.scr_quiz__label_radio
                        input(type="radio" name="question_2" value="second_reason")
                        span.scr_quiz__fake Раздражение#[br]от бритья

                    label.scr_quiz__label.scr_quiz__label_radio
                        input(type="radio" name="question_2" value="third_reason")
                        span.scr_quiz__fake Просто#[br]надоело бриться

                    label.scr_quiz__label.scr_quiz__label_radio
                        input(type="radio" name="question_2" value="all")
                        span.scr_quiz__fake Все#[br]перечисленное

                    label.scr_quiz__label.scr_quiz__label_radio
                        input(type="radio" name="question_2" value="other")
                        span.scr_quiz__fake Другое


                button.scr_quiz__return.quiz-backward(type="button" aria-label="Вернуться на шаг назад") Назад


            //- step 3

            .scr_quiz__step(data-step="3")

                .scr_quiz__counter #[span 3]/4

                h2.scr_quiz__question В каких зонах#[br]хотели бы удалить волосы?

                p.scr_quiz__hint Выберите один или более варианта ответа

                fieldset.scr_quiz__fieldset 

                    label.scr_quiz__label.scr_quiz__label_checkbox
                        input(type="checkbox" name="question_3" value="bikini" checked)
                        span.scr_quiz__fake Бикини

                    label.scr_quiz__label.scr_quiz__label_checkbox
                        input(type="checkbox" name="question_3" value="calves")
                        span.scr_quiz__fake Голени

                    label.scr_quiz__label.scr_quiz__label_checkbox
                        input(type="checkbox" name="question_3" value="armpits")
                        span.scr_quiz__fake Подмышки

                    label.scr_quiz__label.scr_quiz__label_checkbox
                        input(type="checkbox" name="question_3" value="all")
                        span.scr_quiz__fake Все тело

                    label.scr_quiz__label.scr_quiz__label_checkbox
                        input(type="checkbox" name="question_3" value="other")
                        span.scr_quiz__fake Другие зоны


                .scr_quiz__nav
                    button.scr_quiz__return.quiz-backward(type="button" aria-label="Вернуться на шаг назад") Назад
                    button.scr_quiz__forward.quiz-forward(type="button" aria-label="Перейти к следующему шагу") Далее


            //- step 4

            .scr_quiz__step(data-step="4")

                .scr_quiz__counter #[span 4]/4

                h2.scr_quiz__question Оставьте ваши контакты#[br]и получите скидку

                p.scr_quiz__hint Свяжемся с вами в ближайшее время, подробно проконсультируем и предложим удобную для вас дату


                fieldset.scr_quiz__user_data_fieldset
                    input.scr_quiz__user_name.scr_quiz__input(type="text" name="user_name" placeholder="ваше имя")

                    input.scr_quiz__user_phone.scr_quiz__input(type="text" name="user_phone" placeholder="ваш номер")

                    .scr_quiz__messenger
                        label.scr_quiz__messenger_label
                            input(type="radio" name="user_messenger" checked)
                            span ЗВОНОК
                        label.scr_quiz__messenger_label
                            input(type="radio" name="user_messenger")
                            span WhatsApp
                        label.scr_quiz__messenger_label
                            input(type="radio" name="user_messenger")
                            span Telegram

                    input.scr_quiz__submit(type="submit" value="получить скидку")


            .scr_quiz__confirm

                h2.scr_quiz__thanks Спасибо!

                p.scr_quiz__hint Свяжемся с вами в ближайшее время, подробно проконсультируем и предложим удобную для вас дату

                button.scr_quiz__close.quiz-close(type="button") На главную


                
                    

