html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%
}
body {
  margin: 0
}
main {
  display: block
}
h1 {
  font-size: 2em;
  margin: .67em 0
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible
}
pre {
  font-family: monospace,monospace;
  font-size: 1em
}
a {
  background-color: transparent
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted
}
b,
strong {
  font-weight: bolder
}
code,
kbd,
samp {
  font-family: monospace,monospace;
  font-size: 1em
}
small {
  font-size: 80%
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}
sub {
  bottom: -.25em
}
sup {
  top: -.5em
}
img {
  border-style: none
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  outline: 0;
  margin: 0
}
button,
input {
  overflow: visible
}
button,
select {
  text-transform: none
}
[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button
}
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0
}
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText
}
fieldset {
  padding: .35em .75em .625em
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal
}
progress {
  vertical-align: baseline
}
textarea {
  overflow: auto
}
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0
}
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto
}
[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}
details {
  display: block
}
summary {
  display: list-item
}
template {
  display: none
}
[hidden] {
  display: none
}
@font-face {
  font-family: Geologica;
  src: local("Geologica Light"),local("Geologica-Light"),url(../fonts/Geologica-Light.woff2) format("woff2"),url(../fonts/Geologica-Light.woff) format("woff"),url(../fonts/Geologica-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal
}
@font-face {
  font-family: Geologica;
  src: local("Geologica Regular"),local("Geologica-Regular"),url(../fonts/Geologica-Regular.woff2) format("woff2"),url(../fonts/Geologica-Regular.woff) format("woff"),url(../fonts/Geologica-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: Geologica;
  src: local("Geologica Medium"),local("Geologica-Medium"),url(../fonts/Geologica-Medium.woff2) format("woff2"),url(../fonts/Geologica-Medium.woff) format("woff"),url(../fonts/Geologica-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal
}
@font-face {
  font-family: Nominee;
  src: url(../fonts/Nominee-MediumItalic.woff2) format("woff2"),url(../fonts/Nominee-MediumItalic.woff) format("woff"),url(../fonts/Nominee-MediumItalic.ttf) format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap
}
* {
  box-sizing: border-box;
  min-height: .001vw
}
html {
  min-width: 320px
}
body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  min-width: 320px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2b2922;
  font-family: Geologica,sans-serif;
  font-weight: 400
}
body.lock,
body.noscroll {
  overflow: hidden
}
.container {
  width: 100%;
  max-width: 1560px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 20px
}
@media (max-width:1300px) {
  .container {
    max-width: 1074px
  }
}
a {
  color: inherit;
  text-decoration: none;
  outline: 0
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
html,
li,
ol,
p,
ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline
}
ol,
ul {
  list-style: none
}
button,
input {
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  color: inherit;
  background-color: transparent
}
button {
  cursor: pointer
}
textarea {
  border-radius: 0
}
:active,
:focus,
:hover {
  outline: 0;
  outline-offset: 0
}
.scr_header {
  position: relative;
  z-index: 4;
  padding: 35px 0;
  background-color: #fff;
  border-bottom: 2px solid #f6f6f2
}
@media (max-width:1600px) {
  .scr_header {
    padding: 33px 0
  }
}
@media (max-width:1300px) {
  .scr_header {
    padding: 31px 0
  }
}
@media (max-width:991px) {
  .scr_header {
    padding: 26px 0
  }
}
@media (max-width:767px) {
  .scr_header {
    padding: 25px 0 20px
  }
}
.scr_header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%
}
.scr_header__container {
  max-width: 1880px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 40px
}
@media (max-width:991px) {
  .scr_header__container {
    padding: 0 30px
  }
}
.scr_header__logo {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0 60px;
  cursor: pointer
}
.scr_header__logo img {
  display: block;
  width: 145px;
  height: auto
}
.scr_header__logo span {
  white-space: nowrap;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: .03em;
  text-transform: uppercase;
  color: #c5c5bb
}
@media (max-width:1300px) {
  .scr_header__logo {
    gap: 0 56px
  }
  .scr_header__logo img {
    width: 136px
  }
  .scr_header__logo span {
    font-size: 18px;
    letter-spacing: .06em
  }
}
@media (max-width:991px) {
  .scr_header__logo {
    gap: 0 29px
  }
  .scr_header__logo img {
    width: 113px
  }
  .scr_header__logo span {
    font-size: 15px
  }
}
@media (max-width:767px) {
  .scr_header__logo {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 2px 0
  }
  .scr_header__logo img {
    width: 167px
  }
  .scr_header__logo span {
    display: none
  }
}
.scr_header__phone {
  position: relative;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: .03em;
  color: #2b2922;
  -webkit-transform: translateX(-25px);
  transform: translateX(-25px)
}
.scr_header__phone::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -9px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #7e915f;
  transition: -webkit-transform .2s ease-out;
  transition: transform .2s ease-out;
  transition: transform .2s ease-out,-webkit-transform .2s ease-out
}
.scr_header__phone span:nth-child(2) {
  display: none
}
@media (hover:hover) {
  .scr_header__phone:hover::after {
    -webkit-transform: scaleX(1.1);
    transform: scaleX(1.1)
  }
}
@media (max-width:1600px) {
  .scr_header__phone {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px)
  }
}
@media (max-width:1300px) {
  .scr_header__phone {
    font-size: 18px;
    text-align: right;
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
}
@media (max-width:991px) {
  .scr_header__phone {
    font-size: 15px
  }
}
@media (max-width:767px) {
  .scr_header__phone::after {
    bottom: -2px;
    height: 2px
  }
  .scr_header__phone span:nth-child(1) {
    display: none
  }
  .scr_header__phone span:nth-child(2) {
    display: block;
    font-size: 16px;
    letter-spacing: .05em;
    text-transform: uppercase
  }
}
.scr_header__progress {
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 8px;
  overflow: hidden
}
.scr_header__progress span {
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 8px;
  background-color: #7e915f;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  transition: -webkit-transform .2s ease-out;
  transition: transform .2s ease-out;
  transition: transform .2s ease-out,-webkit-transform .2s ease-out
}
.main {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column
}
.scr_quiz {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 103px;
  overflow-x: hidden
}
@media (max-width:1600px) {
  .scr_quiz {
    padding-top: 93px
  }
}
@media (max-width:1300px) {
  .scr_quiz {
    padding-top: 100px
  }
}
@media (max-width:991px) {
  .scr_quiz {
    padding-top: 74px
  }
}
@media (max-width:767px) {
  .scr_quiz {
    padding-top: 54px
  }
}
.scr_quiz > .container {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.mobile_only {
  display: none
}
@media (max-width:767px) {
  .mobile_only {
    display: block
  }
}
.scr_quiz__title {
  margin-bottom: 5px;
  font-weight: 300;
  font-size: 94px;
  line-height: 1;
  letter-spacing: .02em;
  text-transform: uppercase;
  text-align: center;
  color: #413e34
}
@media (max-width:1600px) {
  .scr_quiz__title {
    margin-bottom: 10px;
    font-size: 80px
  }
}
@media only screen and (max-width:1380px) {
  .scr_quiz__title {
    font-size: 70px
  }
}
@media only screen and (max-width:1380px) and (min-width:1301px) {
  .scr_quiz__title {
    font-size: 70px;
    font-size: calc(.1265822785 * 100vw + -94.6835443038px)
  }
}
@media only screen and (max-width:1380px) and (min-width:1380px) {
  .scr_quiz__title {
    font-size: 80px
  }
}
@media (max-width:1300px) {
  .scr_quiz__title {
    margin-bottom: 7px;
    font-size: 64px
  }
}
@media only screen and (max-width:1080px) {
  .scr_quiz__title {
    text-align: left;
    font-size: 56px
  }
}
@media only screen and (max-width:1080px) and (min-width:992px) {
  .scr_quiz__title {
    font-size: 60px;
    font-size: calc(.0909090909 * 100vw + -34.1818181818px)
  }
}
@media only screen and (max-width:1080px) and (min-width:1080px) {
  .scr_quiz__title {
    font-size: 64px
  }
}
@media (max-width:991px) {
  .scr_quiz__title {
    font-size: 48px
  }
}
@media only screen and (max-width:820px) {
  .scr_quiz__title {
    font-size: 40px
  }
}
@media only screen and (max-width:820px) and (min-width:768px) {
  .scr_quiz__title {
    font-size: 44px;
    font-size: calc(.1538461538 * 100vw + -78.1538461538px)
  }
}
@media only screen and (max-width:820px) and (min-width:820px) {
  .scr_quiz__title {
    font-size: 48px
  }
}
@media (max-width:767px) {
  .scr_quiz__title {
    margin-bottom: 15px;
    padding-left: 10px;
    font-size: 32px;
    text-align: left
  }
}
@media only screen and (max-width:370px) {
  .scr_quiz__title {
    padding-left: 0
  }
}
.scr_quiz__info {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "current old" "current cta";
  gap: 0 30px;
  padding-left: 10px
}
@media (max-width:1600px) {
  .scr_quiz__info {
    gap: 0 34px;
    padding-left: 26px
  }
}
@media (max-width:1300px) {
  .scr_quiz__info {
    padding-left: 0
  }
}
@media (max-width:767px) {
  .scr_quiz__info {
    grid-template-areas: "current time" "current old" "cta cta";
    gap: 0 14px;
    padding-left: 10px
  }
}
@media only screen and (max-width:370px) {
  .scr_quiz__info {
    padding-left: 0
  }
}
.scr_quiz__current {
  grid-area: current
}
.scr_quiz__time {
  grid-area: time
}
.scr_quiz__old {
  grid-area: old
}
.scr_quiz__cta {
  grid-area: cta
}
.scr_quiz__current {
  font-weight: 300;
  font-size: 120px;
  line-height: 1;
  letter-spacing: .02em;
  text-transform: uppercase;
  color: #7e915f
}
@media (max-width:1600px) {
  .scr_quiz__current {
    font-size: 100px
  }
}
@media (max-width:1300px) {
  .scr_quiz__current {
    font-size: 80px
  }
}
@media (max-width:991px) {
  .scr_quiz__current {
    font-size: 60px
  }
}
@media (max-width:767px) {
  .scr_quiz__current {
    font-size: 64px
  }
}
@media only screen and (max-width:370px) {
  .scr_quiz__current {
    font-size: 58px
  }
}
.scr_quiz__time {
  display: none
}
@media (max-width:767px) {
  .scr_quiz__time {
    display: block;
    padding-top: 7px;
    font-weight: 500;
    font-size: 10px;
    letter-spacing: .02em;
    text-transform: uppercase;
    color: #c5c5bb
  }
}
.scr_quiz__old {
  position: relative;
  display: inline-block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-bottom: 3px;
  padding-top: 10px;
  font-weight: 300;
  font-size: 60px;
  line-height: 1;
  letter-spacing: .02em;
  text-transform: uppercase;
  color: #c5c5bb
}
.scr_quiz__old::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  top: 55%;
  -webkit-transform: translateY(-50%) rotate(-11deg);
  transform: translateY(-50%) rotate(-11deg);
  width: 100%;
  height: 5px;
  background-color: #c5c5bb
}
@media (max-width:1600px) {
  .scr_quiz__old {
    margin-bottom: 0;
    padding-top: 7px;
    font-size: 50px
  }
  .scr_quiz__old::after {
    top: 50%
  }
}
@media (max-width:1300px) {
  .scr_quiz__old {
    font-size: 40px
  }
}
@media (max-width:991px) {
  .scr_quiz__old {
    font-size: 30px
  }
}
@media (max-width:767px) {
  .scr_quiz__old {
    font-size: 40px
  }
}
@media only screen and (max-width:370px) {
  .scr_quiz__old {
    font-size: 30px
  }
}
.scr_quiz__cta {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: .02em;
  text-transform: uppercase;
  color: #413e34
}
.scr_quiz__cta span {
  position: relative;
  display: inline-block
}
.scr_quiz__cta span::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 3px;
  background-color: #7e915f
}
@media (max-width:1600px) {
  .scr_quiz__cta {
    font-size: 17px
  }
}
@media (max-width:1300px) {
  .scr_quiz__cta {
    font-size: 14px
  }
  .scr_quiz__cta span:after {
    bottom: -3px;
    height: 2px
  }
}
@media (max-width:767px) {
  .scr_quiz__cta {
    margin-top: 7px;
    font-size: 14px;
    line-height: 1.14
  }
  .scr_quiz__cta span::after {
    display: none
  }
}
.scr_quiz__wrapper {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  position: relative;
  height: 525px;
  margin-top: 44px;
  cursor: pointer
}
.scr_quiz__wrapper .container {
  position: relative
}
@media (max-width:1600px) {
  .scr_quiz__wrapper {
    height: 446px;
    margin-top: 35px
  }
}
@media (max-width:1300px) {
  .scr_quiz__wrapper {
    height: 405px;
    margin-top: 32px
  }
}
@media (max-width:991px) {
  .scr_quiz__wrapper {
    height: 382px
  }
}
@media (max-width:767px) {
  .scr_quiz__wrapper {
    height: auto;
    cursor: default;
    pointer-events: none
  }
}
.scr_quiz__img {
  position: relative;
  display: block;
  width: 100%;
  height: 100%
}
.scr_quiz__img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
@media (max-width:767px) {
  .scr_quiz__img {
    height: 227px
  }
}
.scr_quiz__curve {
  position: absolute;
  bottom: 0;
  right: 10.9%;
  z-index: 2;
  width: 22.97%;
  max-width: 441px;
  min-width: 390px
}
.scr_quiz__curve::after {
  content: "";
  display: block;
  width: 100%;
  padding-bottom: 139.68%
}
.scr_quiz__curve::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml,%3Csvg width='441' height='616' viewBox='0 0 441 616' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M180.987 541.869L265.102 570.252L276.803 548.351L213.832 513.599L214.115 513.137C207.87 509.424 201.97 505.898 197.805 503.315L197.817 503.295C192.19 499.814 187.275 496.705 183.141 494.004C178.888 491.225 174.185 488.058 169.014 484.484C164.857 481.613 160.407 478.499 156.183 475.417C151.771 472.198 147.188 468.721 142.662 465.051C138.039 461.304 133.607 457.446 129.668 453.587C125.552 449.556 121.899 445.434 119.006 441.307C111.73 430.947 115.456 423.539 123.115 418.189C127.541 415.098 133.055 413.742 136.4 412.925L136.398 412.914L136.646 412.854C141.654 411.624 147.193 410.621 153.161 409.817C159.057 409.023 165.254 408.432 171.67 408.017C177.667 407.631 184.327 407.389 191.49 407.271C198.309 407.16 205.35 407.181 212.513 407.31C227.584 407.583 242.278 408.258 256.684 409.197C270.823 410.12 285.552 411.365 300.53 412.77L389.91 421.161L402.051 405.242L374.087 364.885C359.626 341.732 348.814 316.985 343.449 291.06C338.535 267.306 338.234 242.673 343.927 217.505C349.818 191.496 361.42 167.608 376.531 145.994C393.807 121.286 415.704 99.57 438.846 81.0973L438.827 81.0748L441 79.3397L428.021 57.2014L424.099 59.3467C402.709 71.052 379.94 79.0262 356.496 83.1642C333.019 87.3097 308.862 87.6124 284.737 83.9737C258.214 79.9807 233.101 71.5781 209.787 59.6248C185.435 47.1389 163.095 30.7664 143.213 11.5002C139.304 7.70692 135.495 3.85774 131.713 0L114.31 16.9513L119.094 21.8022C148.245 51.394 180.734 74.6724 216.536 90.0153C250.246 104.462 286.919 111.882 326.54 110.92H326.585C332.786 110.777 339.999 110.172 347.304 109.559L373.588 107.36L354.488 135.167C337.676 159.648 321.017 205.145 319.011 254.368C317.526 290.815 324.171 329.084 344.961 361.848C351.537 373.333 358.436 384.738 365.157 396.149L342.312 393.825C333.946 392.974 326.465 392.203 320.023 391.528C311.778 390.662 304.309 389.866 297.735 389.149C289.392 388.249 281.665 387.413 276.328 386.868C270.387 386.26 265.498 385.801 262.159 385.581H262.112C247.064 384.577 232.086 383.713 217.714 383.32C203.09 382.921 188.405 382.961 173.739 383.749C159.527 384.513 140.728 386.175 124.123 391.356C109.27 395.99 96.2681 403.421 91.0539 415.597C88.6336 421.248 88.2438 426.99 89.2473 432.596C90.5339 439.786 94.0631 446.868 98.64 453.395H98.6852C103.723 460.608 109.976 467.056 116.268 473.545L119.53 476.919L144.861 503.269L95.4886 493.865C81.7883 491.252 63.3109 488.549 46.0426 489.26C30.3871 489.907 15.8244 493.272 7.78292 502.123C4.85337 505.349 2.86161 509.341 1.6267 513.911C0.244285 519.029 -0.197102 524.805 0.0774425 531.026C0.894616 549.591 10.298 571.162 18.2705 589.452L18.2942 589.507L18.2824 589.512L18.3792 589.745L18.3965 589.738C21.9387 597.861 25.1826 605.301 26.9957 610.86C27.4812 612.351 28.0228 614.105 28.4847 616H51.9792C51.6853 613.96 51.3063 611.918 50.853 609.882C49.3565 603.156 47.0191 596.444 44.2209 590.05L41.286 583.367C36.4336 572.348 31.8686 561.986 28.6408 553.253C26.7933 548.252 25.3388 543.616 24.4365 539.439C23.3567 534.441 23.0756 529.927 23.8228 525.992C25.033 519.664 28.8949 515.147 36.0826 512.831C40.1964 511.505 45.5817 511.065 52.5046 511.664C56.4257 512.003 61.8779 512.714 69.0947 513.848C76.291 514.977 84.3335 516.385 93.3644 518.107C119.34 523.064 144.746 530.718 169.772 538.503L169.898 538.127L180.987 541.869Z' fill='%237E915F' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain
}
@media (max-width:1600px) {
  .scr_quiz__curve {
    right: 3.4%;
    width: 27.45%;
    max-width: 375px;
    min-width: 310px
  }
}
@media (max-width:1300px) {
  .scr_quiz__curve {
    right: 10%;
    width: 26.65%
  }
}
@media (max-width:991px) {
  .scr_quiz__curve {
    right: -4%;
    width: 34.17%;
    max-width: 285px;
    min-width: 240px
  }
}
@media (max-width:767px) {
  .scr_quiz__curve {
    right: -9%;
    width: 44.36%;
    max-width: 173px;
    min-width: 173px
  }
}
.scr_quiz__get_btn {
  position: absolute;
  top: -4px;
  left: 20px;
  z-index: 3;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 308px;
  min-height: 96px;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: .04em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background-color: #2b2922;
  border-top: 4px solid #7e915f;
  cursor: pointer;
  transition: background-color .2s ease-out,border-color .2s ease-out
}
@media (hover:hover) {
  .scr_quiz__get_btn:hover {
    background-color: #7e915f;
    border-top-color: #2b2922
  }
}
@media (max-width:1300px) {
  .scr_quiz__get_btn {
    min-height: 90px;
    font-size: 23px
  }
}
@media (max-width:767px) {
  .scr_quiz__get_btn {
    position: relative;
    top: unset;
    left: unset;
    display: block;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    min-width: unset;
    height: auto;
    min-height: unset;
    margin: 0 auto 47px 0;
    border: 0;
    border-radius: 0;
    background-color: transparent!important;
    color: #2b2922;
    pointer-events: all
  }
  .scr_quiz__get_btn::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -7px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #7e915f;
    transition: -webkit-transform .2s ease-out;
    transition: transform .2s ease-out;
    transition: transform .2s ease-out,-webkit-transform .2s ease-out;
    pointer-events: none
  }
}
@media (max-width:767px) and (hover:hover) {
  .scr_quiz__get_btn:hover::before {
    -webkit-transform: scaleX(1.1);
    transform: scaleX(1.1)
  }
}
.scr_quiz__forewarning {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 75px 0;
  background-color: #f3f3ef
}
.scr_quiz__forewarning p {
  position: relative;
  z-index: 1;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: .02em;
  text-transform: uppercase;
  text-align: center;
  color: #8d8d80
}
.scr_quiz__forewarning p::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  width: 56px;
  height: 87px;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  background-image: url("data:image/svg+xml,%3Csvg width='56' height='87' viewBox='0 0 56 87' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M38.1773 43.6094L45.0011 63.8771L39.7357 66.6965L31.3806 51.5235L31.2696 51.5915C30.377 50.0868 29.5293 48.6652 28.9082 47.6618L28.9035 47.6646C28.0664 46.3086 27.3191 45.1241 26.6699 44.1284C26.0016 43.1037 25.2403 41.9703 24.3807 40.7243C22.8879 38.5579 21.3639 36.4203 19.7088 34.375C18.8081 33.2608 17.8804 32.193 16.9529 31.2438C15.9833 30.2521 14.9926 29.3718 14.0001 28.6748C11.5096 26.9216 9.72846 27.8197 8.44243 29.665C7.69926 30.7312 7.37297 32.06 7.17679 32.8662L7.17394 32.8655C6.84765 34.1978 6.61198 35.545 6.42948 36.9046C6.01775 39.9663 5.86803 43.0529 5.81744 46.14C5.79059 47.7832 5.79551 49.4798 5.82649 51.2057C5.89257 54.8371 6.05443 58.3776 6.28029 61.8487C6.50203 65.2554 6.80145 68.8045 7.13935 72.4136L8.41558 86.0391C6.58256 85.5667 4.59543 85.9335 3.04327 87C2.52725 81.912 2.01332 76.8242 1.46065 71.7401C1.24382 69.7296 1.04297 67.868 0.911834 66.5821C0.765729 65.1506 0.655261 63.9726 0.602601 63.1678V63.1567C0.129955 56.0662 -0.218536 48.9677 0.161956 41.8629C0.481011 35.9186 1.55769 24.6265 7.81902 21.9397C10.9851 20.5806 14.2551 21.905 16.9067 23.7673V23.7787C18.6406 24.9923 20.1907 26.499 21.7508 28.0148L28.8973 34.9048L26.6361 23.0083C26.008 19.7071 25.358 15.255 25.5292 11.0941C25.6846 7.32188 26.4938 3.81298 28.6216 1.87537C30.4508 0.210411 33.2061 -0.0858536 35.5704 0.018692C40.0338 0.215591 45.2203 2.48112 49.6176 4.40239L49.6305 4.40809L49.6318 4.40523L49.6878 4.42859L49.686 4.43274C51.6391 5.28597 53.4277 6.06787 54.7643 6.50473C55.1226 6.62173 55.5444 6.7522 56 6.86349V12.5246C53.8515 12.2143 51.7454 11.5255 49.7611 10.6552L48.1542 9.94801C45.5055 8.77854 43.0142 7.67885 40.9143 6.90111C39.7119 6.45595 38.5973 6.10548 37.5934 5.88808C34.8319 5.28986 32.1917 5.597 31.196 8.69448C30.8775 9.68546 30.7714 10.9831 30.9154 12.6512C30.997 13.596 31.1681 14.9097 31.4405 16.6488C31.712 18.3825 32.0507 20.3204 32.4645 22.4964C33.6563 28.7552 35.4963 34.877 37.368 40.907L37.2777 40.9373L38.1773 43.6094Z' fill='%23EAE8E2' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover
}
.scr_quiz__forewarning a {
  position: relative;
  display: inline-block;
  font-weight: 500;
  color: #2b2922
}
.scr_quiz__forewarning a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #7e915f;
  transition: -webkit-transform .2s ease-out;
  transition: transform .2s ease-out;
  transition: transform .2s ease-out,-webkit-transform .2s ease-out;
  pointer-events: none
}
@media (hover:hover) {
  .scr_quiz__forewarning a:hover::after {
    -webkit-transform: scaleX(1.05);
    transform: scaleX(1.05)
  }
}
@media (max-width:1600px) {
  .scr_quiz__forewarning p {
    max-width: 1200px;
    margin: 0 auto
  }
}
@media (max-width:1300px) {
  .scr_quiz__forewarning {
    padding: 70px 0
  }
}
@media (max-width:991px) {
  .scr_quiz__forewarning {
    padding: 60px 0
  }
  .scr_quiz__forewarning p {
    max-width: 746px;
    font-size: 13px
  }
}
@media (max-width:767px) {
  .scr_quiz__forewarning {
    padding: 37px 0
  }
  .scr_quiz__forewarning p {
    max-width: 330px;
    font-size: 8px;
    line-height: 125%;
    text-align: left
  }
  .scr_quiz__forewarning a::after {
    bottom: -1px;
    height: 1px
  }
}
.scr_quiz__interview {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  min-width: 320px;
  height: 100%;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  overflow-y: auto;
  display: none
}
.scr_quiz__interview.active {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex
}
.scr_quiz__step {
  padding-top: 114px
}
@media (max-width:1300px) {
  .scr_quiz__step {
    padding-top: 100px
  }
}
@media (max-width:991px) {
  .scr_quiz__step {
    padding-top: 84px
  }
}
@media (max-width:767px) {
  .scr_quiz__step {
    width: 100%;
    padding: 93px 30px 0
  }
}
.scr_quiz__counter {
  margin-bottom: 130px;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #969696
}
.scr_quiz__counter span {
  font-size: 40px;
  color: #2b2922
}
@media (max-width:1300px) {
  .scr_quiz__counter {
    margin-bottom: 115px
  }
}
@media (max-width:991px) {
  .scr_quiz__counter {
    margin-bottom: 93px;
    font-size: 17px
  }
  .scr_quiz__counter span {
    font-size: 34px
  }
}
@media (max-width:767px) {
  .scr_quiz__counter {
    margin-bottom: 60px;
    font-size: 20px
  }
  .scr_quiz__counter span {
    font-size: 40px
  }
}
.scr_quiz__question,
.scr_quiz__thanks {
  max-width: 720px;
  margin: 0 auto 30px;
  font-family: Nominee,sans-serif;
  font-style: italic;
  font-weight: 600;
  font-size: 40px;
  line-height: 110%;
  text-transform: uppercase;
  text-align: center;
  color: #2b2922
}
@media (max-width:1300px) {
  .scr_quiz__question,
  .scr_quiz__thanks {
    margin-bottom: 25px;
    font-size: 36px;
    line-height: 111%
  }
}
@media (max-width:991px) {
  .scr_quiz__question,
  .scr_quiz__thanks {
    margin-bottom: 22px;
    font-size: 32px;
    line-height: 117%
  }
}
@media (max-width:767px) {
  .scr_quiz__question,
  .scr_quiz__thanks {
    margin-bottom: 18px;
    font-size: 20px;
    line-height: 110%
  }
}
.scr_quiz__hint {
  max-width: 480px;
  margin: 0 auto 30px;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: .02em;
  text-align: center;
  color: #c5c5bb
}
@media (max-width:1300px) {
  .scr_quiz__hint {
    font-size: 13px
  }
}
@media (max-width:991px) {
  .scr_quiz__hint {
    margin-bottom: 26px
  }
}
@media (max-width:767px) {
  .scr_quiz__hint {
    margin-bottom: 24px;
    font-size: 12px
  }
}
.scr_quiz__fieldset {
  max-width: 751px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 20px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 110px;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  outline: 0
}
@media (max-width:1300px) {
  .scr_quiz__fieldset {
    margin-bottom: 93px
  }
}
@media (max-width:991px) {
  .scr_quiz__fieldset {
    margin-bottom: 65px
  }
}
@media (max-width:767px) {
  .scr_quiz__fieldset {
    gap: 15px;
    margin-bottom: 15px
  }
}
.scr_quiz__label input {
  position: absolute;
  width: 1px;
  height: 1px;
  z-index: -1;
  border: 0;
  padding: 0
}
.scr_quiz__label input:checked + .scr_quiz__fake {
  color: #fff;
  background-color: #2b2922;
  font-family: Nominee,sans-serif;
  font-style: italic;
  font-weight: 600
}
@media (max-width:575px) {
  .scr_quiz__label {
    width: 47%
  }
}
.scr_quiz__label_radio input:checked + .scr_quiz__fake::after {
  opacity: 1
}
.scr_quiz__label_radio .scr_quiz__fake {
  position: relative
}
.scr_quiz__label_radio .scr_quiz__fake::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: -5%;
  width: 102px;
  height: 117px;
  opacity: 0;
  transition: opacity .2s ease-out;
  background-image: url("data:image/svg+xml,%3Csvg width='102' height='117' viewBox='0 0 102 117' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M90.5671 71.584L102 46.999L95.7162 42.7311L83.0436 60.6847L82.9064 60.5789C81.73 62.1351 80.5519 63.6834 79.3687 65.1901C78.2763 66.5851 77.1655 67.9689 76.0375 69.3379C74.8931 70.726 73.7719 72.0536 72.6767 73.3144C71.6448 74.5029 70.5408 75.7593 69.4972 76.9004C68.296 78.2135 67.0679 79.5102 65.8903 80.6728L65.8835 80.6656C64.555 81.9776 63.2286 83.2012 61.9645 84.2341C60.5968 85.3516 59.2191 86.3245 57.8682 87.0647C54.4622 88.9332 52.3227 87.5566 50.9426 85.0529C50.1523 83.6192 49.9206 81.8793 49.7814 80.8313L49.773 80.7678L49.771 80.7682C49.5621 79.2144 49.4392 77.4972 49.3908 75.6487C49.344 73.8461 49.3684 71.9509 49.4536 69.9891C49.5365 68.0955 49.6813 66.0704 49.8766 63.9501C50.0671 61.8796 50.3067 59.7384 50.584 57.5586C51.1731 52.9321 51.8613 48.5046 52.614 44.2195C53.3482 40.0398 54.2182 35.5962 55.1545 31.0328L60.6596 4.21042L56.2057 0L43.1238 7.07098L42.9841 7.14085C35.441 10.766 27.5382 13.2301 19.4633 14.0007C13.0218 14.6155 6.50072 14.1524 0 12.3454V18.699C6.64197 20.3646 13.7757 21.2689 20.9035 20.9064C27.7795 20.5566 34.6604 19.0347 41.0923 15.8867L41.1899 15.8312L52.2262 10.8754L50.7589 17.7508C50.1599 20.5574 49.6773 22.8076 49.324 24.4373C48.7322 27.1669 48.2404 29.4199 47.8647 31.1206L47.8607 31.1247C46.8271 35.8261 45.9464 39.829 45.5995 41.7941C44.7932 46.343 44.0341 50.8657 43.4435 55.1887C42.8357 59.6351 42.3619 64.0918 42.1202 68.529C41.8837 72.8716 41.7701 78.6383 42.8037 83.8588C43.7256 88.5144 45.5623 92.7025 49.1035 94.6867C50.7525 95.6114 52.4867 95.9207 54.2177 95.8026C56.4373 95.6505 58.7158 94.8093 60.8701 93.6295H60.8841C63.1517 92.393 65.3605 90.6811 67.5829 88.9587C67.7454 88.8326 67.6441 88.9108 67.5829 88.9591L67.5845 88.9608L68.7397 88.0756L77.5969 81.2705L73.1065 95.9171C72.0857 99.2428 70.9421 103.541 70.3655 107.9C69.9486 111.054 69.8273 114.222 70.2795 117H77.9742C77.4877 116.357 77.1367 115.554 76.9331 114.573C76.6662 113.287 76.7102 111.643 77.1215 109.563C77.3772 108.269 77.7714 106.632 78.324 104.596C78.8149 102.785 79.5112 100.406 80.4383 97.3852C82.8176 89.6351 85.9827 82.1935 89.1742 74.8758L89.0606 74.8239L90.5671 71.584Z' fill='%237E915F' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  pointer-events: none
}
@media (max-width:1300px) {
  .scr_quiz__label_radio .scr_quiz__fake::after {
    width: 93px;
    height: 106px
  }
}
@media (max-width:991px) {
  .scr_quiz__label_radio .scr_quiz__fake::after {
    width: 87px;
    height: 100px
  }
}
@media (max-width:767px) {
  .scr_quiz__label_radio .scr_quiz__fake::after {
    width: 80px;
    height: 92px
  }
}
.scr_quiz__label_checkbox input:checked + .scr_quiz__fake::after {
  display: none
}
.scr_quiz__label_checkbox input:checked + .scr_quiz__fake::before {
  display: block;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21 7.00003L9 19L3.5 13.5L4.91 12.09L9 16.17L19.59 5.59003L21 7.00003Z' fill='%23A5BE7D' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover
}
.scr_quiz__label_checkbox .scr_quiz__fake {
  position: relative;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 0 10px;
  padding: 55px 50px 17px 24px
}
.scr_quiz__label_checkbox .scr_quiz__fake::after,
.scr_quiz__label_checkbox .scr_quiz__fake::before {
  content: "";
  position: absolute;
  bottom: 17px;
  right: 24px;
  width: 24px;
  height: 24px;
  display: inline-block;
  box-sizing: border-box
}
.scr_quiz__label_checkbox .scr_quiz__fake::before {
  display: none
}
.scr_quiz__label_checkbox .scr_quiz__fake::after {
  border: 2px solid #c5c5bb;
  transition: border-color .2s ease-out
}
@media (hover:hover) {
  .scr_quiz__label_checkbox .scr_quiz__fake:hover::after {
    border-color: #fff
  }
}
@media (max-width:767px) {
  .scr_quiz__label_checkbox .scr_quiz__fake {
    padding: 54px 30px 12px 11px
  }
  .scr_quiz__label_checkbox .scr_quiz__fake::after,
  .scr_quiz__label_checkbox .scr_quiz__fake::before {
    width: 16px;
    height: 16px;
    bottom: 12px;
    right: 11px
  }
}
.scr_quiz__fake {
  height: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  width: 237px;
  min-height: 100px;
  padding: 60px 24px 17px;
  font-weight: 400;
  font-size: 18px;
  color: #8d8d80;
  background-color: #f3f3ef;
  cursor: pointer;
  transition: color .2s ease-out,background-color .2s ease-out
}
@media (hover:hover) {
  .scr_quiz__fake:hover {
    color: #fff;
    background-color: #2b2922;
    font-family: Nominee,sans-serif;
    font-style: italic;
    font-weight: 600
  }
}
@media (max-width:1300px) {
  .scr_quiz__fake {
    width: 215px;
    min-height: 90px;
    padding: 55px 24px 17px;
    font-size: 16px
  }
}
@media (max-width:991px) {
  .scr_quiz__fake {
    width: 202px;
    min-height: 85px;
    padding: 51px 24px 17px;
    font-size: 15px
  }
}
@media (max-width:767px) {
  .scr_quiz__fake {
    width: 156px;
    min-height: 80px;
    padding: 54px 11px 12px;
    font-size: 14px
  }
}
@media (max-width:575px) {
  .scr_quiz__fake {
    width: 100%
  }
}
.scr_quiz__return {
  min-width: 495px;
  min-height: 100px;
  margin: 0 auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 5px;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: .05em;
  text-transform: uppercase;
  text-align: center;
  color: #c5c5bb;
  transition: color .2s ease-out
}
@media (max-width:767px) {
  .scr_quiz__return {
    width: 100%;
    min-width: unset;
    min-height: 80px;
    font-size: 16px
  }
}
@media (hover:hover) {
  .scr_quiz__return:hover {
    color: #2b2922
  }
}
.scr_quiz__nav {
  max-width: 500px;
  margin: 26px auto 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}
.scr_quiz__nav .scr_quiz__forward,
.scr_quiz__nav .scr_quiz__return {
  display: inline-block;
  width: auto;
  min-width: auto;
  min-height: 50px;
  margin: 0
}
.scr_quiz__nav .scr_quiz__forward {
  position: relative;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: #2b2922
}
.scr_quiz__nav .scr_quiz__forward::after {
  content: "";
  position: absolute;
  bottom: 7px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #7e915f;
  transition: -webkit-transform .2s ease-out;
  transition: transform .2s ease-out;
  transition: transform .2s ease-out,-webkit-transform .2s ease-out;
  pointer-events: none
}
@media (hover:hover) {
  .scr_quiz__nav .scr_quiz__forward:hover::after {
    -webkit-transform: scaleX(1.1);
    transform: scaleX(1.1)
  }
}
@media (max-width:1300px) {
  .scr_quiz__nav .scr_quiz__forward {
    font-size: 18px
  }
}
@media (max-width:991px) {
  .scr_quiz__nav .scr_quiz__forward {
    font-size: 16px
  }
}
.scr_quiz__user_data_fieldset {
  max-width: 494px;
  margin: 0 auto 110px;
  padding: 0;
  border: 0;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none
}
@media (max-width:1300px) {
  .scr_quiz__user_data_fieldset {
    max-width: 470px;
    margin-bottom: 93px
  }
}
@media (max-width:991px) {
  .scr_quiz__user_data_fieldset {
    margin-top: 85px;
    margin-bottom: 65px
  }
}
@media (max-width:767px) {
  .scr_quiz__user_data_fieldset {
    margin-top: 0;
    margin-bottom: 15px
  }
}
.scr_quiz__input {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  width: 100%;
  min-height: 62px;
  padding: 20px 0 5px;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  letter-spacing: .03em;
  text-transform: uppercase;
  border-bottom: 2px solid #c5c5bb
}
.scr_quiz__input::-webkit-input-placeholder {
  color: #c5c5bb
}
.scr_quiz__input::-moz-placeholder {
  color: #c5c5bb
}
.scr_quiz__input:-ms-input-placeholder {
  color: #c5c5bb
}
.scr_quiz__input::placeholder {
  color: #c5c5bb
}
.scr_quiz__input:focus {
  border-bottom-color: #7e915f
}
@media (max-width:1600px) {
  .scr_quiz__input {
    padding: 35px 0 3px
  }
}
@media (max-width:1300px) {
  .scr_quiz__input {
    min-height: 40px;
    font-size: 19px
  }
}
@media (max-width:991px) {
  .scr_quiz__input {
    padding: 30px 0 3px
  }
}
@media (max-width:767px) {
  .scr_quiz__input {
    min-height: 42px;
    padding: 10px 0 5px;
    font-size: 16px
  }
}
@media only screen and (max-width:360px) {
  .scr_quiz__input {
    font-size: 14px
  }
}
.scr_quiz__messenger {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 60px;
  border-bottom: 2px solid #c5c5bb
}
@media (max-width:991px) {
  .scr_quiz__messenger {
    margin-top: 50px
  }
}
.scr_quiz__messenger_label {
  position: relative
}
.scr_quiz__messenger_label input {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 1px;
  height: 1px;
  opacity: 0
}
.scr_quiz__messenger_label input:checked + span {
  color: #2b2922
}
.scr_quiz__messenger_label input:checked + span::after {
  opacity: 1
}
.scr_quiz__messenger_label span {
  position: relative;
  display: inline-block;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: .03em;
  text-transform: uppercase;
  text-align: right;
  color: #c5c5bb;
  padding-bottom: 8px;
  transition: color .2s ease-out;
  cursor: pointer
}
.scr_quiz__messenger_label span::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 4px;
  background-color: #7e915f;
  opacity: 0;
  transition: opacity .2s ease-out
}
@media (hover:hover) {
  .scr_quiz__messenger_label span:hover {
    color: #2b2922
  }
}
@media (max-width:1300px) {
  .scr_quiz__messenger_label span {
    font-size: 19px
  }
}
@media (max-width:767px) {
  .scr_quiz__messenger_label span {
    font-size: 16px
  }
}
@media only screen and (max-width:360px) {
  .scr_quiz__messenger_label span {
    font-size: 14px
  }
}
.scr_quiz__submit {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  min-height: 96px;
  margin-top: 56px;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: .04em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background-color: #7e915f;
  cursor: pointer;
  transition: background-color .2s ease-out
}
@media (hover:hover) {
  .scr_quiz__submit:hover {
    background-color: #718255
  }
}
@media (max-width:1600px) {
  .scr_quiz__submit {
    margin-top: 53px
  }
}
@media (max-width:1300px) {
  .scr_quiz__submit {
    min-height: 90px;
    font-size: 23px
  }
}
@media (max-width:767px) {
  .scr_quiz__submit {
    min-height: 72px;
    margin-top: 62px;
    font-size: 20px
  }
}
.scr_quiz__confirm {
  padding-top: 290px
}
@media (max-width:1300px) {
  .scr_quiz__confirm {
    padding-top: 260px
  }
}
@media (max-width:991px) {
  .scr_quiz__confirm {
    padding-top: 233px
  }
}
@media (max-width:767px) {
  .scr_quiz__confirm {
    padding: 190px 30px 0
  }
}
.scr_quiz__close {
  position: relative;
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: .03em;
  text-align: center;
  text-transform: uppercase;
  color: #2b2922
}
.scr_quiz__close::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -9px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #7e915f;
  transition: -webkit-transform .2s ease-out;
  transition: transform .2s ease-out;
  transition: transform .2s ease-out,-webkit-transform .2s ease-out;
  pointer-events: none
}
@media (hover:hover) {
  .scr_quiz__close:hover::after {
    -webkit-transform: scaleX(1.07);
    transform: scaleX(1.07)
  }
}
@media (max-width:1300px) {
  .scr_quiz__close {
    font-size: 18px
  }
}
@media (max-width:991px) {
  .scr_quiz__close {
    font-size: 16px
  }
}
.scr_quiz__step {
  display: none
}
.scr_quiz__step.active {
  display: block
}
.scr_quiz__confirm {
  display: none
}
.scr_quiz__confirm.active {
  display: block
}
.scr_footer {
  min-height: 80px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px 0;
  background-color: #f3f3ef;
  border-top: 1px solid #e3e0d6
}
.scr_footer .container {
  min-height: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}
.scr_footer__copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: .02em;
  color: #7e915f
}
@media (max-width:991px) {
  .scr_footer__copyright {
    font-size: 13px
  }
}
@media (max-width:767px) {
  .scr_footer__copyright {
    font-size: 10px;
    line-height: 200%
  }
}
.scr_footer__policy {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  text-transform: uppercase;
  text-align: right;
  color: #8d8d80
}
.scr_footer__policy::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 1px;
  background-color: #e3e0d6;
  transition: background-color .2s ease-out
}
@media (hover:hover) {
  .scr_footer__policy:hover::after {
    background-color: #8d8d80
  }
}
@media (max-width:991px) {
  .scr_footer__policy {
    font-size: 13px
  }
}
@media (max-width:767px) {
  .scr_footer__policy {
    font-size: 10px;
    line-height: 200%
  }
}
/*# sourceMappingURL=maps/main.css.map */
