header.header_basic
    .container
        h1.header_basic__title Лите - студия аппаратной косметологии

        .header_basic__logo 
            img(src="./images/logo-basic.svg", alt="logo" width="260" height="53" decoding="async")


