.social {
    margin-bottom: 6px;
    padding-bottom: 36px;
    border-bottom: 2px solid #f6f6f2;
}

.social__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 550px;
    min-height: 65px;
    margin: 0 auto;
    background-color: $color_brown_light;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: $color_dark1;
    transition: background-color 0.2s ease-out;

    @media (hover: hover) {
        &:hover {
            background-color: #d0d0c0;
        }
    }

    &:not(:last-child) {
        margin-bottom: 6px;
    }

    &.social__link--main {
        color: #fff;
        background-color: #c5c5bb;

        @media (hover: hover) {
            &:hover {
                background-color: #a6a696;
            }
        }
    }
}
