@font-face {
    font-family: "Geologica";
    src: local("Geologica Light"), local("Geologica-Light"),
        url("../fonts/Geologica-Light.woff2") format("woff2"),
        url("../fonts/Geologica-Light.woff") format("woff"),
        url("../fonts/Geologica-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Geologica";
    src: local("Geologica Regular"), local("Geologica-Regular"),
        url("../fonts/Geologica-Regular.woff2") format("woff2"),
        url("../fonts/Geologica-Regular.woff") format("woff"),
        url("../fonts/Geologica-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Geologica";
    src: local("Geologica Medium"), local("Geologica-Medium"),
        url("../fonts/Geologica-Medium.woff2") format("woff2"),
        url("../fonts/Geologica-Medium.woff") format("woff"),
        url("../fonts/Geologica-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Nominee";
    src: url("../fonts/Nominee-MediumItalic.woff2") format("woff2"),
        url("../fonts/Nominee-MediumItalic.woff") format("woff"),
        url("../fonts/Nominee-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}
