// colors
$color_white: #fff;
$color_black: #000;
$color_dark1: #2b2922;
$color_dark2: #413e34;
$color_grey: #c5c5bb;
$color_green: #7e915f;
$color_brown_light: #f3f3ef;
$color_red: #ff0033;

// fonts

$fonts_main: "Geologica", sans-serif;
$fonts_second: "Nominee", sans-serif;
